:root {
    --white: #eeeeee;
    --blue: #00adb5;
    --gray: #393e46;
    --black: #222831;
}

body {
    color: var(--black);
    background-color: var(--gray);
}

.main {
    margin: 0 auto;
    padding: 30px;
    width: 80%;
    color: var(--black);
    background-color: var(--white);
    padding: 30px;
}

.header {
    text-align: center;
    margin: 5px;
    padding-top: 10px;
}

.header h1 {
    font-family: 'Parisienne', cursive;
}

.nav a {
    color: var(--black);
    border: 1px solid var(--black);
    margin: 15px;
}

.nav a:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
}

.elerhetosegek {
    margin-bottom: 30px;
}

 hr {
     border: 1px solid var(--black);
 }

 form button {
     background-color: var(--blue);
 }
 .footer {
     background-color: var(--white);
     text-align: center;
     padding: 5px;
     width: 80%;
     margin: 0 auto;
     background-color: var(--black);
 }

 .footer p {
     color: var(--blue);
 }

 .footer a {
     color: var(--blue);
 }

 h2 {
     text-align: center;
     padding: 5px;
 }